.App {
  text-align: center;
}

.header{
  color:blue;
  background: lightblue;
}

.app__form {
  padding: 10px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  background-color: #e9e9eb;
  margin: auto;
}

.app__fromControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__icon_button {
  flex: 0;
}

.app__input {
  flex: 1;
}
.message-card{
  padding: 1px;
  margin: 5px;
  width: fit-content;
}

.message-isUser {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message-card-guest {
  background-color: rgb(202, 202, 202) !important;
}


.message-card-user {
  background-color: rgb(17, 123, 245) !important;
}